<header>
  <!-- <nav> -->
  <mat-toolbar color="primary">
    <!-- <mat-toolbar-row> -->

    <!-- <div class="brand"> -->
    <!-- <div routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="router-link-active" > -->
    <button mat-button class="size-large" router-link="/">Prépare ton bowl cake</button>
    <button mat-button class="size-medium" routerLink="/">accueil</button>
    <button mat-button class="size-medium" routerLink="/">autre</button>

    <!-- </div> -->
    <!-- <mat-menu>

        </mat-menu> -->

    <!-- </div> -->
    <!-- <div class="links">
        <div> -->
    <!-- <div routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="router-link-active" >
            Accueil

          </div> -->
    <!-- </div>
      </div> -->
    <!-- </mat-toolbar-row> -->
  </mat-toolbar>
  <!-- </nav> -->
</header>

<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <mat-toolbar color="primary">
    <!-- <mat-grid-list cols="1" color="primary"> -->
      <!-- <span class="example-spacer">Right Aligned Text</span>
      <span>Application Title</span> -->

      <!-- This fills the remaining space of the current row -->
      <!-- <mat-grid-tile color="primary"> -->
        <span class="center-box size-medium">
          fabagile @prepare-ton-bowlcake &copy; 2023





        </span>
      <!-- </mat-grid-tile>
    </mat-grid-list> -->
  </mat-toolbar>
</footer>
